<div class="navigation">
	<a class="button" href="/logout">
        <img id="loginButtonImg" src="https://cdn.onlinewebfonts.com/svg/img_568656.png">
        <div class="logout">LOGOUT</div>
	</a>
</div>

{{!-- <button class="logout">LOGOUT</button> --}}