<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <title>Hb Portfolio | {{pageTitel}}</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
    </header>
    {{!-- This is where the content generated in my templates should be injected :D!! --}}
    {{!-- body is a placeholder for whatever html we inject from out templates, we can ONLY inject one template at a
    time --}}
    <section>
    {{{body}}}
    </section>
    <footer>Made by Mikhail Ratner, (c) 2021</footer>
</body>

</html>