<h1>{{pageTitel}} page</h1>
<h2>Join our movement to change social media platforms!</h2>


<div class="sglspread">
    <div class="text-holder left">
        <div class="pg1-2-txt">
<h3>We have a social media problem:</h3>
<p>People are highly likely to believe false information on the Internet, such as conspiracy theories, affecting off-screen behavior and lives.</p>
<p>Social Media is designed to be addictive!</p>
<p>The release of dopamine makes technology work similar to addictive drugs, such as alcohol or nicotine.</p>
<p>Future generations are at risk.</p>
<p>A 62% increase in hospitalizations for American females ages 15–19 and a 189% increase in females ages 10–14 due to self harm, beginning in 2010–2011.</p>
<p>A 70% increase in suicide for females ages 15–19 and a 151% increase in females ages 10–14, beginning when social media was first introduced in 2009</p>
<p>Our governments are doing not enough to solve the problem.</p>
<p>Click to <a href="/register">register</a> or to <a href="/login">login</a>.</p>
            </div>
        </div>


</div>