<h1>This is the {{pageTitel}} page!</h1>
<h2>Read carefully and join out movement to change social media platforms!</h2>

<section>
<p>We have a scoial media problem!</p>
<p>Social Media is designed to be addictive!</p>
<p>Future generations are at rist!</p>
<p>Our governments are doing not enough to solve the problem!</p>

<p>Click to <a href="/register">register</a> or to <a href="/login">login</a>.</p>
</section>