<h1>{{pageTitel}} page</h1>

<form action="" method="POST">
    <input name="email" type="text" id="inputEmail">
    <input name="inputPw" type="text" id="inputPassword">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button>SUBMIT</button>
</form>
<div>{{> error }}</div>