<h1>Welcome to the {{pageTitel}} page!</h1>

<form action="" method="POST">
    <input type="text" class="inputFirstName">
    <input type="text" class="inputLastName">
    <input type="hidden" class="inputSignature">
    <button>SUBMIT</button>
    <canvas id="canvasSignature" width="200" height="100"></canvas>
</form>

{{!-- STILL TO DO:
- conditionally renders an error message
- add a link to your js file that contains the code for your canvas signature logic
--}}

{{!-- <h2>Hello {{toUpperCase who}}</h2> 

<section>
{{> projList welcome=true}}
</section>
--}}