<h1>Welcome to the {{pageTitel}} page!</h1>

<form action="" method="POST">
    <input name="firstName" type="text" id="inputFirstName">
    <input name="lastName" type="text" id="inputLastName">
    <input name="signature" type="hidden" id="inputSignature">
    <button>SUBMIT</button>
    <canvas width="200" height="100" id="canvasSignature" ></canvas>
</form>
<script src="canvas.js"></script>


{{!-- STILL TO DO:
- conditionally renders an error message
- add a link to your js file that contains the code for your canvas signature logic
--}}

{{!-- <h2>Hello {{toUpperCase who}}</h2> 

<section>
{{> projList welcome=true}}
</section>
--}}