<h1>{{pageTitel}} page</h1>

<form action="" method="POST">
    <input placeholder="First name" name="firstName" type="text" id="inputFirstName">
    <input placeholder="Last name" name="lastName" type="text" id="inputLastName">
    <input placeholder="Your email" name="email" type="text" id="inputEmail">
    <input placeholder="Your password"  name="inputPw" type="text" id="inputPassword">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button>SUBMIT</button>
</form>
<p>You already have an account? Login <a href="/login">here</a></p>
<div>{{> error }}</div>