<h1>This is the {{pageTitel}} page!</h1>
<h2>This are some people who signed this petition as well:</h2>

<ul>
    <div>
        {{#signedNames}}
        <li> {{first}} {{last}}</li>
        {{/signedNames}}
    </div>
</ul>